body {
	width: 80%;
	margin-left: 10%;
	color: #555;
}

label {
	width: 20%;
}

input {
	width: 40%;
	padding: 5px;
}

textarea {
	width: 100%;
}
.lang {
	width: 5%;
}
button {
	width: 10%;
	padding: 5px;
}
.status {
	color: grey;
}

.status.ok {
	color: green;
}

.status.fail {
	color: red;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #aaa;
	width: 20%;
	padding: 5px;
}